
.entity {
  background: #CCC;
  padding: 4px 0;
  border-radius: 3px;
}

.entity-off {
  background: none !important;
}

.entity-MONEY {
  background: #ffbe00;
}

.entity-ORGANIZATION {
  background: #65caff;
}

.entity-LOCATION {
  background: #7fff76;
}

.entity-PERSON {
  background: #ff958e;
}

.entity-L_STKHOLDER {
  background: #ce9461;
}

.entity-L_ACTION {
  background: #61ce94;
}

.entity-L_MATTER_I_D {
  background: #9461ce;
}

.entity-L_AMOUNT_I_D {
  background: #ce6192;
}

.entity-L_RULING {
  background: #6192ce;
}

span.annotation {
    background: #34ce57;
    //white-space: nowrap;
    justify-content: center;
    display: inline-flex;
    border-radius: 3px;
}

 .highlight {
    background-color: yellow;
}

.note {
    background-color: limegreen;
}

#summary {
    border: dotted orange 1px;
}
